<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Diagrams </title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.1.8/semantic.min.css">

  <style type="text/css">
    body > .ui.container {
      margin-top: 3em;
    }

    .ui.container > h1 {
      font-size: 3em;
      text-align: center;
      font-weight: normal;
    }
    .ui.container > h2.dividing.header {
      font-size: 2em;
      font-weight: normal;
      margin: 4em 0em 3em;
    }

    .ui.table {
      table-layout: fixed;
    }
  </style>
</head>
<body>

{{{body}}}

<script src="https://cdn.jsdelivr.net/jquery/3.0.0-beta1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.1.8/semantic.min.js"></script>
</body>
</html>
